.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  grid-template-areas: 
  'h h'
  'n c';
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.header{
  grid-area: h;
  background-color: green;
}
.header img {
  width: 83px;
}
.nav{
  grid-area: n;
  background-color: greenyellow;
}
.content{
  grid-area: c;
  background-color:indigo;
}
 /* .header img {
  width: 50px;
}  */