.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  grid-template-areas: 
  'h h'
  'n c';
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}



 /* .header img {
  width: 50px;
}  */